a(name="content")
main 
     section.sample  
          button.buy_button Додати до корзини
          section.card_info
               p Назва: "Цитрамон"
               p Ціна: 72 грн
               p Відпуск за рецептом: ні
     section.sample
          button.buy_button Додати до корзини
          section.card_info
               p Назва: "Кодеіновмісний сироп"
               p Ціна: 300 грн
               p Відпуск за рецептом: так
     section.sample
          button.buy_button Додати до корзини
          section.card_info
               p Назва: "Аскорбінка"
               p Ціна: 30 грн
               p Відпуск за рецептом: ні
     section.sample
          button.buy_button Додати до корзини
          section.card_info
               p Назва: "Парацетамол"
               p Ціна: 50 грн
               p Відпуск за рецептом: ні
     a(name="cart")
     section.create_but
          button.buy_button_sample Перейти до корзини