a(name="footer")
footer
    article.article_footer
        div.logo_text
            div.logo
                a(href='#') 
                    h3 Аптека Добрий Друг
                    img(src=require('./images/apteka.jpg') alt="apteka").logo_img_footer
        div.address
            h3 Контакти
            p drug.shop.apteka@gmail.com
            p +380770055321
            p Київ, вул. Хрещатик 2
        nav.footer_menu
            h3 Соціальні Мережі
            a(href="facebook.com") Facebook
            a(href="twitter.com") Twitter
            a(href="instagram.com") Instagram
            a(href="telegram.com") Telegram