a(name="header")
header
     section 
      section.headline
       img(src=require('./images/logo.png') alt="Apteka").logo_img
       h3 Аптека Добрий Друг - ДругShop
       section.menu
          nav.main_menu 
               a(href="#header") Пошук ліків
               a(href="#main") Рецепти
               a(href="#new_cargo") Корзина
               a(href="#footer") Контакти
     section.head_card_img
      section.head_card
          button.buy_button Додати до корзини
          section.card_info
               h3 Найпопулярніші товари зараз
               p Назва: "Спазмалгін"
               p Ціна: 30 грн
               p Відпуск за рецептом: ні
          